ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
   
    }
img{
    width: 360px;
    height: 200px;

    }
.gallery-container{
    width: 1128px;
    margin: 0 auto;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.gallery-item{
    width: calc((100% - 48px) / 3);
}